 
 .header{
	 
	display: flex;
	min-height: 100vh;
	min-width: 100vh;
	justify-content: space-around;
	padding: 0 24px;

	background-color: #fcde67 ;

	align-items: center;

	margin: 0;
	 flex-wrap: wrap;
 }
 
.headTitle {
	padding-top: 50px;
	font-size: 92px;
	letter-spacing: 4px;
	color:#030e12;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	
}
.smallheader{
	text-align: center;
}
.logo{
	
	width: 65vh;
}
.quote-card{

	border: 2px solid black;

	padding: 1rem;
	align-items: center;

	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
 
	
}
.heading {
    display: flex;
    align-items: center;
    height: 30px;

  }
.header-right{

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
}
@media(max-width:800px)
{
	.header{
		flex-direction: column;
		align-items: center;
	}

	.logo{
		width: 40vh;
	}
	.headTitle{
		margin-top: 32px;
        text-align: center;
		font-size: 46px;
	}

}